#time -> sleep
import time
print('\033[33mOlá, Seja Bem vindo(a) ao BancoK\033[m')
print('')
time.sleep(1)
nome = input('Para iniciar insira seu nome:')
print('')
time.sleep(1)
print('\033[33mOtimo, nossos colaboradores ja absolveram suas informacoes e estao encaminhando para a ouvidoria...\033[m')
print('')
time.sleep(1)
print('\033[33mOlá, estamos de volta. \n Qual das seguintes operacoes o Sr.{} deseja realizar:\033[m'.format(nome))
operacao = 1
lista = []
while (operacao !=6):
  operacao = input(' 1) Reclamacao \n 2) Elogio \n 3) Sugestao \n 4) Seus comentarios \n 5) Apagar \n 6) Sair \n :')
  if (operacao == '1'):
    reclamacao = input ('Digite sua reclamacao:')
    lista.append (reclamacao)
    print('')
    time.sleep(1)
  elif (operacao == '2'):
    elogio = input ('Digite seu elogio:')
    lista.append (elogio)
    print('')
    time.sleep(1)
  elif (operacao == '3'):
    sugestao = input ('Digite sua sugestao:')
    lista.append (sugestao)
    print('')
    
  elif (operacao == '4'):
    for i in lista:
      print(i)
      print('')
      
  elif (operacao == '5'):
    print(' \033[31m 1) \033[m Apagar uma coisa. \n \033[31m 2) \033[m Apagar tudo.')
    print('')
    time.sleep(1)
    x = input ('Opcao escolhida foi:')
    if (x == '2'):
      lista.clear()
      print('\033[31m Mensagens apagadas \033[m')
      print('')
      time.sleep(1)
    elif (x == '1'):
      print('O que deseja apagar:')
      print(lista)
      g = int(input('Apagar mensagem comecando do \033[31m 0 \033[m:'))
      lista.pop(g)
      print(lista)
      print('')
      time.sleep(1)
  elif (operacao == '6'):
    operacao = 6
    print('\033[31m Usuario desconectado \033[31m')
